# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
sudo: false
cache:
  packages: true
  directories:
  - _bookdown_files
  - $HOME/.npm

before_install:
- nvm install stable
- npm install netlify-cli -g
- R script -e 'remotes::install_version("bookdown", "0.9")'

script:
- Rscript -e 'bookdown::render_book("index.Rmd")'

deploy:
  provider: script
  script: netlify deploy --prod --dir _book
  skip_cleanup: true
